body {
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  
    align-items:center;
}
.logo {
   
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;

}

.nav-items {
    display: flex;
    flex-direction: row-reverse;
}

.nav-item {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
}

.blurb {
    margin-top: 50px;
    font-size: 25px;
    max-width: 55vw;
    margin-left: 20px;
    font-family: 'Varela Round', sans-serif;
}

.action-area {
    max-width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 10px;
}

.button {
    background-color: #FFEA93;
    width: 70px;
    margin-left: 20px;
    text-align: center;
    padding: 3px;
    border-radius: 15px;
    border: solid black 1px;
    text-align: center;
}

.mini-blurb {
    font-size: 8px;
    max-width: 70px;
    margin-left: 8px;
}

.image-area {
    margin: 0 auto;
    z-index: 1;
    height: 305px;
}

.background-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0F0E0E;
    opacity: .03;
    height:200px;
    width: 200px;
    border-radius: 50%; 
    z-index: 2;
}

.stool-img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 373px;
    width: 249px;
}

.pitch-area {
    margin-top: 80px;
}
.pitch-item {
    width: 50%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    display: grid;
    margin-bottom: 20px;
}

.left {
    border-radius: 0 20px 20px 0px;
    
}

.last {
    margin-top: 90px;
}

.right {
    position: absolute;
    right: 0;
    border-radius: 20px 0 0 20px;
}

.cookies {
    
    margin-top: 20px;
}

.cookies-blurb {
    text-align: center;
    margin-top: 0px;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
}
 /*
 ------- MEDIA QUERIES -------
 */


 @media only screen and (min-width: 600px) {
    .logo {
   
        margin-left: 40px;
        font-size: 40px;
        font-family: 'Libre Baskerville', serif;
    
    }

    .nav-item {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 25px;
    }

    .blurb {
        margin-top: 50px;
        font-size: 50px;
        max-width: 50vw;
        margin-left: 95px;
        font-family: 'Varela Round', sans-serif;
    }

    .action-area {
        max-width: 55vw;
        grid-template-columns: 100px 1fr;
        margin-left: 75px;
    }

    .mini-blurb {
        font-size: 16px;
        max-width: 200px;
    }

    .image-area {
        right: 0;
        position: absolute;
        margin-right: 25%;
        z-index: 1;
        
    }

    .stool-img {
        position: absolute;
        top: 0;
        width: 600px ;
        height: 950px;
    }

    .background-circle {
        display: none;
    }

    .pitch-area {
        margin-top: 75px;
        position: absolute;
        width: 40vw;
        z-index: 2;
    }

    .pitch-item {
      font-size: 35px;
      width: 40vw;
     
    }
    
    .left {
        border-radius: 0 20px 20px 0px;
        
    }
    
    .right {
        position: relative;
        left: 0;
        border-radius: 0 20px 20px 0px;
        
    }
    .last {
        margin-top: 0px;
    }
    
    .cookies {
        display: none;
    }
    
    .cookies-blurb {
        text-align: center;
        margin-top: 0px;
        font-size: 18px;
        font-family: 'Libre Baskerville', serif;
    }
  }

  /* width="249" height="373">*/